/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* HEADER */
header {
  background-color: rgba(255, 200, 221, 0.25);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header img {
  width: 35px;
}

header nav a {
  margin: 0 10px;
  padding: 10px 22px;
  color: #f0236e;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

header nav a:hover {
  background: rgba(240, 35, 110, 0.85);
  color: white;
}

/* CONTAINER DA CALCULADORA */
.simulador {
  background: rgba(255, 255, 255, 0.25);
  max-width: 600px;
  margin: 150px auto 30px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 12px #fff;
  text-align: center;
}

.simulador h2 {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  color: #f6bdda;
  text-shadow: 0 0 4px #ee095d;
  margin-bottom: 20px;
}

.inputs label {
  display: block;
  text-align: left;
  margin: 15px 0;
  font-weight: 600;
  color: #ed1b7d;
}

.inputs input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  font-size: 15px;
}

button {
  margin-top: 25px;
  padding: 12px 25px;
  background: rgba(240, 35, 110, 0.85);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgba(255, 50, 130, 1);
}

/* RESULTADO */
.resultado {
  margin-top: 25px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #fff;
  color: #f0236e;
  font-weight: 600;
}

.resultado h3 {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #ffaad2;
  text-shadow: 0 0 4px #ee095d;
  margin-bottom: 12px;
}

.receita {
  color: #28a745;
  font-size: 20px;
  font-weight: bold;
}