/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #000;
}

/* HEADER */
header {
  background-color: rgba(255, 200, 221, 0.25);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header img {
  width: 35px;
}

header nav a {
  margin: 0 10px;
  padding: 10px 22px;
  color: #f0236e;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

header nav a:hover {
  background: rgba(240, 35, 110, 0.85);
  color: white;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 90px;
  left: 0;
  width: 220px;
  height: 100vh;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px #fff;
}

.sidebar h2 {
  font-family: "Pacifico", cursive;
  color: #f0236e;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: #ed1b7d;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.sidebar a:hover {
  color: #fff;
  background: rgba(240, 35, 110, 0.85);
  padding-left: 5px;
}

/* ÁREA DE CONTEÚDO */
.conteudo {
  margin-left: 240px;
  margin-top: 110px;
  padding: 10px;
}

.conteudo h1 {
  font-family: "Pacifico", cursive;
  color: #f6bdda;
  font-size: 26px;
  text-shadow: 0 0 4px #ee095d;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #fff;
  text-align: center;
  width: 260px;
  padding: 15px;
}

.card h3 {
  color: black;
  margin-bottom: 10px;
}

.card p {
  color: #ed1b7d;
  font-size: 20px;
  font-weight: bold;
}

/* CARD CAMPEÃ */
.card-campea {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #fff;
  text-align: center;
  border: 2px solid gold;
  width: 260px;
  padding: 15px;
}

.card-campea h3 {
  color: black;
  margin-bottom: 10px;
}

.card-campea p {
  color: #ed1b7d;
  font-size: 20px;
  font-weight: bold;
}

/* BOX DE CONTEÚDO MAIOR */
.box {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #fff;
}

.box h1 {
  font-family: "Pacifico", cursive;
  color: #f6bdda;
  margin-bottom: 15px;
  text-shadow: 0 0 4px #ee095d;
}
