/* -------- RESET -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* -------- HEADER -------- */

header {
  background-color: rgba(255, 200, 221, 0.25);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;   
  backdrop-filter: blur(10px);

  position: fixed;      /* Fixa o header */
  top: 0;               /* Cola no topo */
  width: 100%;          /* Para ocupar a largura inteira */
  z-index: 1000;        /* Fica por cima de tudo */
}

header img {
  width: 35px;
}

header nav a {
  margin: 0 10px;
  padding: 10px 22px;
  color: #f0236e;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

header nav a:hover {
  background: rgba(240, 35, 110, 0.85);
  color: white;
}

/* -------- SECTIONS -------- */
section {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 120px auto;
  padding: 30px;
  max-width: 900px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px #fff;
}

section h3 {
  font-family: "Pacifico", cursive;
  color: #f6bdda;
  margin-bottom: 15px;
  font-size: 26px;
  text-shadow: 0 0 4px #ee095d;
}

section img {
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px #fff;
}

/* -------- SINGLES -------- */

.div_singles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.div_singles img {
  width: 120px;
  transition: transform 0.3s;
}

.div_singles img:hover {
  transform: scale(1.2);
}


/* -------- TABELA - TOPO -------- */
.topo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.topo .foto {
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 10px #fff;
}

.topo .info h2 {
  font-family: "Pacifico", cursive;
  color: #ffe3f1;
  font-size: 28px;
}

.topo .info h3 {
  color: #ffaad2;
  margin: 8px 0;
  font-weight: 600;
}

.topo .info p {
  margin-top: 20px;
  color: #ed1b7d;
  font-weight: 600;
  font-size: 16px;
}

/* -------- TABELA - CORPO -------- */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  color: #ed1b7d;
  font-weight: 600;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

td {
  padding: 8px;
  font-size: 14px;
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.negativo {
  color: #ff4a70;
}

/* -------- FOOTER -------- */
footer {
  background-color: rgba(255, 200, 221, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 25px;
  color: #f0236e;
  font-weight: 600;
}

footer a {
  text-decoration: none;
}
