/* -------- RESET -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #f0236e;
  text-align: center;
}

/* -------- HEADER -------- */

header {
  background-color: rgba(255, 200, 221, 0.25);
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav a {
  margin: 0 10px;
  padding: 10px 22px;
  color: #f0236e;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

header nav a:hover {
  background: rgba(240, 35, 110, 0.85);
  color: white;
}

/* -------- TÍTULO E TEXTO -------- */
h1 {
  margin-top: 80px; 
  font-family: "Pacifico", cursive;
  color: #ffe3f1;
  text-shadow: 0 0 5px #ee095d;
  margin-bottom: 10px;
  font-size: 40px;
}

p {
  color: #ed1b7d;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
}

/* -------- BRACKET -------- */
.bracket {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.rodada {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 20px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 12px #fff;
}

.final {
  border: 2px solid #f6bdda;
}

.campea {
  border: 2px solid gold;
}

/* -------- PARTIDAS -------- */
.match {
  background-color: rgba(255, 200, 221, 0.4);
  border: 2px solid rgba(255, 200, 221, 0.7);
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #fff;
}

.team {
  background-color: rgba(255, 200, 221, 0.9);
  border-radius: 12px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  font-weight: 600;
  color: #f0236e;
  box-shadow: 0 0 10px #fff;
  transition: transform 0.2s, background 0.2s;
}

.team:hover {
  transform: scale(1.08);
  background-color: rgba(255, 230, 240, 0.95);
}

.team.winner {
  background-color: #ffaad2 !important;
  color: #fff;
  text-shadow: 0 0 4px #ee095d;
  transform: scale(1.1);
}

/* -------- CAMPEÃ -------- */
.champion .team {
  font-size: 20px;
  padding: 15px;
  border: 2px solid gold;
  background-color: rgba(255, 235, 215, 0.9);
  box-shadow: 0 0 15px gold;
}

/* -------- BOTÃO REINICIAR -------- */
#reiniciar {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: rgba(240, 35, 110, 0.85);
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

#reiniciar:hover {
  background: #f0236e;
  transform: scale(1.05);
}
